.main{
  margin: auto;
  width: 600px;
  font-family: 'Smythe', cursive;
}



.food-menu{
  display: flex;
  width: 508px;
  margin: auto;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #8B8B8B;
  padding: 45px 0;
}

.food-item{
  margin-right: 100px;
}

.food-item h4{
  font-size: 28px;
  font-weight: 400px;
  line-height: 16.8px;
  margin-bottom: 0;

}


.small-text{
  font-size: 16px;
  font-weight: 400;
  color: #8B8B8B;
}

.cart-btn{
  margin-left: 60px
}

.subtract{
  border: 1px solid grey;
  border-radius: 50%;
  align-self: center;
  padding: 5px 12px;
  background: white;
  font-size: 20px
}

.subtract:hover{
  background: red;
}

.add-to-cart{
  border: 1px solid grey;
  border-radius: 50%;
  align-self: center;
  padding: 5px 10px;
  background: white;
  font-size: 20px;
}

.add-to-cart:hover{
  background: green;
}

.cart{
  width: 508px;
  margin: auto;
}

.cart h2{
  text-align: center;
}

.cart-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}